
  <ion-button size="small" color="danger"> You told me we would have a cat</ion-button><br />
  <ion-button size="small">
    When did I say that ? </ion-button
  ><br />
  <ion-button size="small" color="danger"> Like, 5 minutes ago ???</ion-button><br />
  <ion-button size="small"> Really... Any proof ?  </ion-button><br />
  <ion-button size="small" color="danger"> But you just said it!</ion-button><br />
  <ion-button size="small">  Liar. </ion-button><br />
  <ion-button size="small" color="danger"> YOU LIAR. </ion-button><br />
  <ion-button size="small"> Very mature.</ion-button><br />
  <ion-button size="small" color="danger"> ... </ion-button><br />
  <ion-button size="small" color=""> ...</ion-button><br />
  <ion-button size="small" color="danger"> I just hate you. </ion-button><br />
  <ion-button size="small" color=""> </ion-button><br />
  <ion-button size="small" color="danger"> Can I tell you anyway ?</ion-button><br />
  <ion-button size="small" color="danger"> .... Yes, you can.</ion-button><br />
