
  <ion-button size="small" color="danger"> So, there was this button </ion-button><br />
  <ion-button size="small">
    You already told me that.</ion-button
  ><br />
  <ion-button size="small" color="danger"> Oh really ??? </ion-button><br />
  <ion-button size="small"> YEAH, really... </ion-button><br />
  <ion-button size="small" color="danger"> But you don't even know...</ion-button><br />
  <ion-button size="small"> Yes, I do. </ion-button><br />
  <ion-button size="small" color="danger"> How could you possibly know ??</ion-button><br />
  <ion-button size="small"> BECAUSE. It's the ONLY story you know!</ion-button><br />
  <ion-button size="small" color="danger"> That's...That's untrue...</ion-button><br />
  <ion-button size="small" color=""> You know it is...</ion-button><br />
  <ion-button size="small" color="danger"> ... </ion-button><br />
  <ion-button size="small" color=""> </ion-button><br />
  <ion-button size="small" color="danger"> Can I tell you anyway ?</ion-button><br />
  <ion-button size="small" color="danger"> .... Yes, you can.</ion-button><br />
