
  <ion-button color="danger"> I'm a button :D </ion-button><br />
  <ion-button href="https://google.fr" target="blank">
    Oh ! Hello button :D I'm a button too !</ion-button
  ><br />
  <ion-button color="danger"> Oh really ??? That's amazing ! </ion-button><br />
  <ion-button> I know right ! I'm impressed of myself. </ion-button><br />
  <ion-button color="danger"> Well, you can be ! </ion-button><br />
  <ion-button> I mean, you can be proud of yourself too. </ion-button><br />
  <ion-button color="danger"> You think so ? ;;</ion-button><br />
  <ion-button> Yeah ! Of course ! </ion-button><br />
  <ion-button shape="round" color="tertiary"> Hello there</ion-button><br />
  <ion-button> Oh ! Hi ! Are you a button too ? </ion-button><br />
  <ion-button shape="round" color="tertiary"> Yes, I am !</ion-button><br />
  <ion-button color="danger"> We're three now, awesome !</ion-button><br />
  <ion-button expand="block" shape="round" color="tertiary">
    Look what I can doooooo</ion-button
  ><br />
  <ion-button color="primary"> That's nice !</ion-button><br />
  <ion-button color="danger">
    <ion-icon slot="start" name="home"> </ion-icon>Wait, what's that ? </ion-button
  ><br />
  <ion-button color="primary"> Oh my god, are you okay button ?</ion-button
  ><br />
  <ion-button color="tertiary" shape="round">
    You look... Different...</ion-button
  ><br />
  <ion-button color="danger">
    <ion-icon name="home"></ion-icon> I don't feel so well... I think I have a
    virus...</ion-button
  >

