
  <ion-button size="small" color="danger"> I'm a button :D </ion-button><br />
  <ion-button size="small">
    Oh ! Hello button :D I'm a button too !</ion-button
  ><br />
  <ion-button size="small" color="danger"> Oh really ??? That's amazing ! </ion-button><br />
  <ion-button size="small"> I know right ! I'm impressed of myself. </ion-button><br />
  <ion-button size="small" color="danger"> Well, you can be ! </ion-button><br />
  <ion-button size="small"> I mean, you can be proud of yourself too. </ion-button><br />
  <ion-button color="danger" size="small"> You think so ? ;;</ion-button><br />
  <ion-button size="small"> Yeah ! Of course ! </ion-button><br />
  <ion-button size="small" shape="round" color="tertiary"> Hello there</ion-button><br />
  <ion-button size="small"> Oh ! Hi ! Are you a button too ? </ion-button><br />
  <ion-button size="small" shape="round" color="tertiary"> Yes, I am !</ion-button><br />
  <ion-button size="small" color="danger"> We're three now, awesome !</ion-button><br />
  <ion-button size="small" expand="block" shape="round" color="tertiary">
    Look what I can doooooo</ion-button
  >
  <ion-button size="small" color="primary"> That's nice !</ion-button><br />
  <ion-button size="small" color="danger">
    <ion-icon size="small" slot="start" name="home"> </ion-icon>Wait, what's that ? </ion-button
  ><br />
  <ion-button size="small" color="primary"> Oh my god, are you okay button ?</ion-button
  ><br />
  <ion-button size="small" color="tertiary" shape="round">
    You look... Different...</ion-button
  ><br />
  <ion-button size="small" color="danger">
    <ion-icon size="small" name="home"></ion-icon> I don't feel so well... </ion-button
  >
  <ion-button size="small"color="danger">
    <ion-icon name="home"></ion-icon> ... I think I have a
    virus...</ion-button
  >
  <ion-button size="small" color="tertiary">
    <ion-icon name="heart"></ion-icon> HEYY ! YOU'RE CONTAGIOUS!!!</ion-button
  >
  <ion-button size="small" color="danger">
    <ion-icon name="home"></ion-icon> You... Love ME ?</ion-button
  >
  <ion-button size="small" color="tertiary">
    <ion-icon name="heart"></ion-icon> NO! I'm just sick because of you...</ion-button
  >
  <ion-button size="small"color="primary">
     Well, there is this french song... Maladie d'amour...</ion-button
  >
  <ion-button size="small"color="danger">
     I'd say you love me</ion-button
 ><br>
  <ion-button size="small" color="tertiary">
    <ion-icon name="heart"></ion-icon> I hate you all.</ion-button
  >

